{{ define "title" -}}
{{ .Title }}
{{- end }}
{{ define "main" -}}
{{ if not .IsHome }}
<div id="heading">
    <div class="heading">
        {{ partial "breadcrumb.html" . }}
        <h1>{{ block "title" . }}{{ end }}</h1>
    </div>
</div>
{{ end }}

<div id="content">
    <article class="post-grid">
        {{- range .Pages.ByWeight }}
        <a href="{{ .RelPermalink }}">
            <div class="postcard">
                <img src="{{ .Params.image | default "/images/default.png" }}" alt="{{ .Title }}">
                <div>
                    <h2>{{ .Title }}</h2>
                    <p class="post-card-excerpt">
                        {{ .Params.description | default .Summary | plainify }}
                    </p>
                     {{ if .IsPage }}
                    <p>
                        <time datetime="{{ .Date.Format "2025-12-14T14:25:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
                        <span style="margin: 0 5px;">•</span>
                        <span class="reading-time">{{ .ReadingTime }} min read</span>
                    </p>
                    {{ end }}
                </div>
            </div>
        </a>
        {{- end -}}
    </article>
</div>
{{- end }}